body { background-color: rgb(93, 211, 226);}
h1 {color : blue}
p {color : red;font-family: 'Segoe UI';padding: 20px;border: 2px solid black;}
a:link {color : green; background-color: transparent;text-decoration: wavy;}
a:visited {color : pink; background-color: transparent;text-decoration: wavy;}
a:hover {color : red; background-color: transparent; text-decoration: wavy;}
a:active {color : yellow; background-color: transparent; text-decoration: wavy;}