body {
    background-image: url('images/bg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.practice {
    text-align: center;
}

.practice2 {
    text-align: center;
}

.practice3 {
    text-align: center;
}

/* we can also use the background-size:cover 
it can cover the entire element without streching*/
h1 {
    color: blue
}

p {
    color: red;
    font-family: 'Segoe UI';
    padding: 20px;
}


a:link {
    color: green;
    background-color: transparent;
    text-decoration: wavy;
}

a:visited {
    color: rgb(5, 1, 253);
    background-color: transparent;
    text-decoration: wavy;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: wavy;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: wavy;
}